@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@using System;
<root>
	<div class="stats">
		@Math.Round(Controller.LapTime, 2)
	</div>
</root>

@code
{

	[Property, TextArea] public string MyStringValue { get; set; } = "Hello World!";
	public Controller Controller { get; set; }
	protected override void OnUpdate()
	{
		Controller = Scene.GetAllComponents<Controller>().FirstOrDefault();
	}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( Time.Now );
}
