@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@using System;
<root>
	<div class="stats">
	<div class="entry">Laps: @Controller.LapCount</div>
	<div class="entry">Time: @Math.Round(Controller.LapTime, 2)</div>
	</div>
</root>

@code
{

	[Property, TextArea] public string MyStringValue { get; set; } = "Hello World!";
	[Property] public Controller Controller { get; set; }

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( Time.Now );
}
